flows 5.json
[{"id":"975ff181.08ee","type":"tab","label":"流程5","disabled":false,"info":""},{"id":"1cd47fe2.fa741","type":"http in","z":"975ff181.08ee","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":60,"y":220,"wires":[["6311b270.9fc89c","f00a9ed7.f10ec"]]},{"id":"6311b270.9fc89c","type":"function","z":"975ff181.08ee","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":400,"wires":[["6f72f9b4.8a9ac8"]]},{"id":"6f72f9b4.8a9ac8","type":"rpi-gpio out","z":"975ff181.08ee","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":420,"y":460,"wires":[]},{"id":"f00a9ed7.f10ec","type":"function","z":"975ff181.08ee","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":220,"wires":[["daddd9e9.08d9b8","d5542205.4c4ac"]]},{"id":"daddd9e9.08d9b8","type":"http response","z":"975ff181.08ee","name":"","statusCode":"","headers":{},"x":450,"y":220,"wires":[]},{"id":"d5542205.4c4ac","type":"debug","z":"975ff181.08ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":300,"wires":[]},{"id":"f026abff.6e8918","type":"http in","z":"975ff181.08ee","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":70,"y":520,"wires":[["33e155f.20274aa","f31732a4.a96f1"]]},{"id":"33e155f.20274aa","type":"function","z":"975ff181.08ee","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":520,"wires":[["6f72f9b4.8a9ac8"]]},{"id":"f31732a4.a96f1","type":"function","z":"975ff181.08ee","name":"Return Status","func":"msg.payload = \"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":600,"wires":[["daddd9e9.08d9b8","d5542205.4c4ac"]]}]