flows 4.json
[{"id":"2b45f249.f5338e","type":"tab","label":"流程4","disabled":false,"info":""},{"id":"65e101b4.90d7a","type":"http in","z":"2b45f249.f5338e","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":60,"y":200,"wires":[["7837036f.762c5c"]]},{"id":"c99cb855.493148","type":"http response","z":"2b45f249.f5338e","name":"","statusCode":"","headers":{},"x":470,"y":200,"wires":[]},{"id":"52c881cf.55803","type":"debug","z":"2b45f249.f5338e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":300,"wires":[]},{"id":"59f79539.05ca7c","type":"rpi-gpio in","z":"2b45f249.f5338e","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":60,"y":300,"wires":[["caec2e76.2943c"]]},{"id":"caec2e76.2943c","type":"function","z":"2b45f249.f5338e","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":300,"wires":[["52c881cf.55803"]]},{"id":"7837036f.762c5c","type":"function","z":"2b45f249.f5338e","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":200,"wires":[["c99cb855.493148","52c881cf.55803"]]}]