flows.json
[{"id":"64e234d3.c67f4c","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"85b4773d.ae6ce8","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"44aa203a.76699","type":"tab","label":"流程3","disabled":false,"info":""},{"id":"c285a44b.7237e8","type":"rpi-gpio in","z":"64e234d3.c67f4c","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":50,"y":700,"wires":[["127e713b.082ccf","b310d87.0109528"]]},{"id":"a71d76f4.cb5f98","type":"rpi-gpio out","z":"64e234d3.c67f4c","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":590,"y":700,"wires":[]},{"id":"127e713b.082ccf","type":"debug","z":"64e234d3.c67f4c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":250,"y":560,"wires":[]},{"id":"b310d87.0109528","type":"switch","z":"64e234d3.c67f4c","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":700,"wires":[["a8d1d23b.beaea"],["afa7d65.513de28"]]},{"id":"a8d1d23b.beaea","type":"change","z":"64e234d3.c67f4c","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":660,"wires":[["a71d76f4.cb5f98"]]},{"id":"afa7d65.513de28","type":"change","z":"64e234d3.c67f4c","name":"Change to1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":740,"wires":[["a71d76f4.cb5f98"]]},{"id":"6c259563.ff1cec","type":"inject","z":"85b4773d.ae6ce8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"5","x":110,"y":100,"wires":[["8bd10f14.05b4a"]]},{"id":"8bd10f14.05b4a","type":"function","z":"85b4773d.ae6ce8","name":"Payload","func":"msg.headers={\n    devicekey:\"nN0psoM2bAXC4tu0\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":220,"wires":[["bc5842ce.86772"]]},{"id":"bc5842ce.86772","type":"http request","z":"85b4773d.ae6ce8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DIf5lHy4/datachannels/LEDControl/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":280,"y":220,"wires":[["fbce41f7.6a5a5","fd3b4af8.654468"]]},{"id":"fbce41f7.6a5a5","type":"http response","z":"85b4773d.ae6ce8","name":"","statusCode":"","headers":{},"x":380,"y":320,"wires":[]},{"id":"fd3b4af8.654468","type":"debug","z":"85b4773d.ae6ce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":480,"wires":[]},{"id":"300b4620.e1d02a","type":"inject","z":"44aa203a.76699","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":100,"wires":[["1c2a5ba9.0b8b14"]]},{"id":"1c2a5ba9.0b8b14","type":"function","z":"44aa203a.76699","name":"Payload","func":"msg.headers={\n    devicekey:\"nN0psoM2bAXC4tu0\"\n};\nmsg.payload=\"Temperature,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":200,"wires":[["84741339.f8db"]]},{"id":"84741339.f8db","type":"http request","z":"44aa203a.76699","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DIf5lHy4/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":320,"wires":[["dc6f46e1.d3a178","2945e11c.84293e"]]},{"id":"dc6f46e1.d3a178","type":"http response","z":"44aa203a.76699","name":"","statusCode":"","headers":{},"x":460,"y":340,"wires":[]},{"id":"2945e11c.84293e","type":"debug","z":"44aa203a.76699","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":280,"wires":[]}]